@import "../stylesheets/fonts.css";
@import "../stylesheets/tailwind-custom.css";
@import "../stylesheets/application.tailwind.css";
@plugin "daisyui";
@import "../stylesheets/custom-styles.css";
@import "../stylesheets/patterns.css";
@import "../stylesheets/components/quick_add_modal.css";
@import "../stylesheets/confirm_dialog.css";