<div id="discount-signup" class="bg-success/10 border border-success/30 rounded-lg p-4 mb-6" data-test="discount-success">
  <div class="flex items-center gap-2 mb-2">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-success" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
    </svg>
    <h3 class="font-semibold text-success">You're in! 5% off applied</h3>
  </div>
  <p class="text-sm text-base-content/70">
    Your discount will be automatically applied at checkout.
    <% if local_assigns[:cart] && cart&.subtotal_amount&.positive? %>
      <br>
      <span class="text-success font-medium">
        You'll save <%= number_to_currency(cart.subtotal_amount * 0.05, unit: "£") %> on this order!
      </span>
    <% end %>
  </p>
</div>
