<section aria-label="Product categories">
  <div class="container mx-auto px-4 py-8 sm:py-12">
    <div class="text-center mb-8">
      <h2 class="text-3xl md:text-4xl font-bold mb-4">Shop by category</h2>
      <div class="w-24 h-1 bg-[#79ebc0] mx-auto rounded-full"></div>
    </div>
    <%= render "categories/index" %>
  </div>
</section>